@import 'styles/_theme';

.link {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  color: black;
  font-weight: $font-weight-bold;

  &:hover {
    color: black;
  }

  &:not(:first-of-type) {
    margin-left: 45px;
  }
}

.primary,
.primary:hover {
  color: $primary-color;
  border-color: $primary-color;
}

.primaryIcon {
  filter: $filter-black-to-primary;
}

.icon {
  margin-right: 10px;
  width: 15px;
}
