@import 'styles/_theme';

.link {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  font-weight: $font-weight-bold;

  &:not(:first-of-type) {
    margin-left: 45px;
  }
}

.primary,
.primary:hover {
  color: $primary-color;
  border-color: $primary-color;
}

.inherit,
.inherit:hover {
  color: #000;
}

.icon {
  margin-right: 10px;
}
