@import 'styles/_theme';

.wrapper {
  margin-top: 105px;
  display: flex;

  @media screen and (max-width: $tablet) {
    margin-top: 80px;
    flex-direction: column;
  }
}

.image {
  max-width: 530px;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 25px 0 0 6%;

  @media screen and (max-width: $tablet) {
    padding: 30px 0 0;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  &::first-letter {
    text-transform: uppercase;
  }
}

.description {
  margin: 22px 0;
  line-height: 22px;
}
