$font-size-xxs: 12px;
$font-size-xs: 15px;
$font-size-s: 18px;
$font-size-m: 24px;
$font-size-l: 32px;
$font-size-xl: 50px;
$font-size-xxl: 200px;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-height: 1366px;
$laptop-l: 1440px;