@import 'styles/_theme';

.wrapper {
  border: 1px solid $border-color;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

.title {
  margin: 17px 0;
  height: 16px;
  overflow: hidden;
  font-weight: $font-weight-bold;
  &::first-letter {
    text-transform: uppercase;
  }
}

.link {
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  &:hover {
    font-size: $font-size-s;
    font-weight: $font-weight-bold;
  }
}

.image {
  width: 100%;
  height: 255px;
  max-height: 255px;
  overflow: hidden;
  @media screen and (max-width: $mobile-l) {
    max-height: 210px;
  }
  @media screen and (max-width: $tablet) {
    max-height: 180px;
  }
}

.date {
  margin: 25px 0;
  padding: 0 25px;
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  @media screen and (max-width: $mobile-l) {
    margin: 20px 0;
    padding: 0 20px;
  }
}
