@import 'styles/_theme';

.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 57px;
  padding-bottom: 13px;

  &:not(:first-of-type) {
    margin-top: 13px;
  }
  &:not(:last-of-type) {
    border-bottom: 1px solid $border-color;
  }
  @media screen and (max-width: $tablet) {
    padding-top: 20px;
    height: 68px;
    &:not(:first-of-type) {
      margin-top: 0;
    }
  }
}

.image {
  width: 38px;
  height: 38px;
}

.center {
  margin-left: 17px;
  text-align: start;
}

.title {
  margin: 0;
  &::first-letter {
    text-transform: uppercase;
  }
}

.description {
  margin: 0;
  color: $secondary-color;
  &::first-letter {
    text-transform: uppercase;
  }
}

.right {
  margin-left: auto;
  color: $secondary-color;

  @media screen and (max-width: $tablet) {
    border: 1px solid $border-color;
    border-radius: 5px;
    width: 25px;
    height: 25px;
  }
}

.button {
  @media screen and (max-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
  }
}
