@import 'styles/_theme';

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  background-color: #fff;
  padding: 0 calc(20px - (100vw - 100%)) 0 0;
  @media screen and (max-width: $mobile-l) {
    height: 70px;
    padding: 0;
  }
}

.content {
  margin: auto auto 0;
  max-width: calc(1200px - 40px);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 8px 20px;
  @media screen and (max-width: $mobile-l) {
    justify-content: center;
  }
}
