@import 'styles/_theme';

.wrapper {
  margin: auto;
  width: 450px;
  background-color: #fff;
  box-shadow: $shadow;
  border-radius: 2px;
  padding: 25px;
}

.container {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
  margin-left: 16px;
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
}
