@import 'styles/_theme';

.container {
  position: relative;
  margin: auto;
  width: 600px;
  background-color: #fff;
  box-shadow: $shadow;
  border-radius: 2px;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 66px;
    height: 1px;
    background-color: $border-color;
  }
}

.box {
  padding: 20px 24px 15px;
}

.input {
  margin-top: 10px;
  min-height: 59px;
}
